// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1:first-letter {
	font-size: 2em;
	color: #FFDDFF;
}
h1 {
	position: relative;
	color: #333333;
	text-shadow: 0 0 2px white;
}


table th {
  color: #FFF;
  padding: 8px 15px;
  background: gray;
  background:-webkit-gradient(#e66465, #9198e5);
  font-weight: bold;
  border:1px solid black;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table tr td {
  padding: 8px 15px;
  border: 1px solid black;
  text-align: center;
}

table tr:nth-child(2n+1) {
  background: #EEEEEE;
}
table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}


body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p { 
  font-family: verdana;
  font-size: 16px; //詳細画面
  line-height: 18px;
}

td{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px; //一覧画面
  line-height: 20px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }  
  h3 {
    font-size: 11px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

tr.list_line_odd {
	background: #effeef;
}
td.action {
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		padding: 0.5em 0.5em;
	}
}
td.description {
	h1 {
		font-size: 1.4em;
	}	
}